.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 10px solid; */
  /* min-height: 70vh; */
}


.contact-container {
  margin-top: 40px;
  background: linear-gradient(90deg, #1C608C, #4493c8);
  /* border: 10px solid; */
  padding: 2.5rem 3rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.input-group input,
.input-group textarea {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}


button {
  background:  #1a1c20;
  color: white;
  border-radius: 10px;
  padding: 13px;
  font-weight: 600;
  cursor: pointer;
}





footer a{
  margin: 20px;
}

footer p{
  margin-bottom: 10px;
}