
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px ;
}

.gallery img{
    width: 400px;
    height:  300px;
    border: 2px solid #1C608C;
    border-radius: 20px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    transition: 400ms;
}

.gallery img:hover {
    transform: scale(1.05) ;
    filter:  saturate(1.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: relative; /* or remove this line entirely */
    margin-top: 40px; /* creates the gap you want */
}

footer a{
    margin: 20px;
}

footer p{
    margin-bottom: 10px;
}